@{
    ViewBag.Title = "UpdateAlbum";
}

<h1>@ViewBag.BandName</h1>
<h3>Update Album</h3>

<fieldset>
    <legend>Update Album</legend>
    @{
        Html.RenderPartial("albumPartial");
    }
</fieldset>
